.options-nav-bar{
    border:1px solid;
    height:100vh;
    width:20%;
    transition:all .1s;
    border-radius:5px;
    position:absolute;
    left:0;
    background-color:rgb(30, 74, 75);
}
.is-seller-message{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(16, 37, 38);
    width: 100%;
    height: 100px;
    padding-top: 30px;
    text-align: center;
    font-size: 18px;
    color:#fff;
}
.button-option{
    transition:all .5s;
    width:90%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:10px;
    margin-top:1rem;
    float: right;
    border-radius: 0;
}

.button-option:hover{
    background-color: rgb(195, 191, 191);
}

/*Tablet*/
@media (min-width: 700px) and (max-width:1000px){
    .button-option span{
        display: none;
    }
    .button-option{
        justify-content: center;
    }
    .is-seller-message{
        font-size:15px;
    }
}
/*Mobile*/
@media (max-width: 700px){
    .options-nav-bar{
        border:1px solid;
        border-radius: 0;
        height:50px;
        width:100%;
        transition:all .1s;
        position:fixed;
        bottom:0;
        background-color:gray;
        z-index: 50;
        display: flex;
        flex-direction:row;
        justify-content: center;
    }
    .is-seller-message{
        display: none;
    }
    .button-option{
        transition:all .5s;
        width: 20%;
        height: 100%;
        background-color: transparent;
        margin-top: 5px;
    }

    .button-option span{
        display: none;
    }
}
