.options-nav-bar{
    border:1px solid;
    height:3.5rem;
    width:3rem;
    transition:all .5s;
    border-radius:5px;
    padding-left:1px;
    float:left;
    position:absolute;
    background-color:transparent;
    z-index: 100;
}
.options-nav-bar-expanded{
    border:1px solid;
    height:91vh;
    width:20rem;
    transition:all .5s;
    padding-left:.5rem;
    border-radius:5px;
    float:left;
    position:absolute;
    background-color:gray;
    z-index: 100;
}
.button-expand{
    width:2.5rem;
    transition:all .5s;
    float:right;
    margin-top:5px;
    margin-right: 3px;
}

.button-show-info-expanded{
    transition:all .5s;
    width:18.5rem;
    margin-top:1rem;
}