.send-message-form{
    height:70vh;
    max-width: 100vw;
}

.input-message{
    width:68vw;
    margin-right: 10px;
}

.chat-form{
    float:right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-info{
    width:100px;
    text-align:center;
    margin-left:-25px ;
}

.messages-container{
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.messages-container-scrolled{
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.messages-container>div:last-child {
    scroll-snap-align: end;
}
