.send-message-form{
    height:70vh;
    max-width: 100vw;
    margin-top: 1rem;
}

.input-message{
    width:70vw;
    margin-right: 1rem;
}

.chat-form{
    float:right;
    margin-right: 1rem;
}

.user-info{
    width:100px;
    text-align:center;
}