.order-detail-card{
    width: 100%;
    height: 150px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    background-color: rgba(183, 178, 178, 0.675);
}

.order-detail-img{
    width:150px;
    height: 90%;
    margin-left: 10px;
}
.order-detail-img img{
    width: 100%;
    height: 100%;
}
