.login-navbar-link{
    float: right;
    width: 200px;
    background-color: #fff;
    margin-top:20px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    color:rgb(65, 144, 149);
    cursor: pointer;
}

/*Mobile*/
@media (max-width:500px){
    .login-navbar-link{
        width: 150px;
        font-size: 13px;
        height: 25px;
        padding-top: 3px;
    }
}