.new-navbar{
    position:fixed;
    top:1px;
    width: 100vw;
    height: 100px;
    background-color: rgb(183,204,207);
    z-index: 100;
    box-shadow: 5px 5px 5px rgb(65, 63, 63);
}
.new-navbar-short{
    position:fixed;
    top:-2.5rem;
    width: 100vw;
    height: 100px;
    background-color: rgb(183,204,207);
    z-index: 100;
    border-bottom: 1px solid;
    box-shadow: 5px 5px 5px rgb(65, 63, 63);
}

.top-navbar{
    background-color: rgb(183,204,207);
    height: 50px;
    width: 100vw;
}
.top-navbar > div{
    display: inline-block;
    text-align: center;
}

.items-navbar{
    width: 100%;
    height: 50px;
    background-color: rgb(183,204,207);
}
.items-navbar > div{
    display: inline-block;
    width: 20%;
    height: 100%;
    text-align: center;
    padding-top: 10px;
}

.items-navbar img{
    color:#fff
}

.items-navbar img:hover{
    width: 30px;
    cursor: pointer;
}

.home-link{
    text-align: center;
    margin-left: 10px;
    cursor:pointer;
}

.home-link img{
    width: 120px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    margin-left: 10px;
    cursor:pointer;
}

.chat-link{
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    float: right;
    margin-right: 15px;
    cursor:pointer;
}






