.product-recommended-card{
    background: rgb(243 241 241);
    border: 3px solid white;
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 20px;
    width: 250px;
    height: 300px;
}
.product-recommended-card img{
    mix-blend-mode: multiply;
    background-blend-mode: multiply;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.product-recommended-name{
    text-align: start;
}
.product-recommended-price{
    text-align: start;
}

/*Mobile*/
@media (max-width: 500px){
    .product-recommended-card{
        width: 100px;
        height: 130px;
    }
    .product-recommended-price{
        font-size: 15px;
    }
}

/*Tablet*/
@media (min-width: 500px) and (max-width:800px){
    .product-recommended-card{
        width: 150px;
        height: 200px;
    }
}

