.Video{
    height: 200px;
    border-radius: 1rem;
}
.VideoContainer{
    height: 200px;
    margin-top:1rem;
    width: 100%;
    height:300px;
}
.Video-video{
    height: 200px;
    border-radius: 1rem;
    width: 100%;
    height:300px;
}