.CategoriesNavBar{
    background-color:transparent;
    padding-left:2rem;
    text-align:center;
    white-space:nowrap;
    overflow-x: auto;
    height: 60px;
    width: 97%;
    scroll-snap-type: x mandatory ;
}

.CategoriesNavBar::-webkit-scrollbar{
    width:0px; 
    height:0px;
    background-color:transparent;
}

.button-go-left{
    float:left;
    position: relative;
    bottom:3.7rem;
    width: 40px;
    height: 40px;
}
.button-go-left img{
    width: 20px;
    height: 20px;
}

.button-go-right{
    float:right;
    position: relative;
    bottom:3.7rem;
    width: 40px;
    height: 40px;
}

.button-go-right img{
    width: 20px;
    height: 20px;
}
