.mensaje-debes-ser-vendedor{
    text-align: center;
    height: auto;
    border:1px solid;
    border-radius: 1rem;
    padding: 10px;
    width: 90%;
    margin:0 auto;
    position: relative;
    top:30vh;
    background-color:rgb(190, 227, 224);
}