.Orders-Container{
    overflow-y: hidden;
    padding-top: 110px;
}
.mensaje-debes-ser-vendedor{
    text-align: center;
    margin-top: 40vh;
    height: 50px;
    margin-left: 1rem;
    margin-right: 1rem;
    border:1px solid;
    border-radius: 1rem;
    padding-top: 10px;
}