.filters-nav-bar{
    background-color: transparent;
    margin-top: 15px;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:0px 10px;
}

.filters-nav-bar li{
    list-style-type: none;
}
