.FiltersNavBar{
    margin:0 auto;
    background-color:transparent;
    width: 100%;
    text-align: center;
    white-space:nowrap;
    height: 60px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-left: 2rem;
    padding-right: 2rem;
}

.FiltersNavBar::-webkit-scrollbar{
    width:0px;
    height:0px;
    background:transparent;
}
