.button-container{
    width:18.5rem;
    position:relative;
    top:75vh;
}

.LoginLink{
    margin-top:1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    position: relative;
    bottom:0.2rem;
    display: inline-block!important;
}
.LogoutButton{
    width:18.5rem;
}
