.search-form-container{
    width: 40%;
}

.SearchForm{
    display: inline-block;
    margin-left:10px;
}

.search-button{
    background-color: #fff;
    height:28px;
    width: 10%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;

    /*btn class styles*/
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}
.search-button:focus{
    outline: none;
}
.search-button img{
    position: relative;
    bottom:6px;
    right:15px;
}

.search-input{
    display: inline-block;
    width: 90%;
    height:28px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border:0;
    white-space:nowrap;
    padding-left: 10px;
}
.search-input:focus{
    box-shadow: none;
    outline: none;
}

.show-dropdow-button{
    height: 28px;
    width: auto;
    border:0;
    border-radius:10px ;
    cursor: pointer;
    color:#fff;
    background-color: #89babf;
    padding-left:5px;
    display: flex;
    flex-direction: row;
    white-space:nowrap;
    margin-left: 10px;
    gap:20px;
}
.show-dropdow-button:focus{
    outline: none;
}

.show-dropdow-button img{
    margin-top: 2px;
}

.dropdown-categories-search{
    display: inline-block;
    white-space:nowrap;
    
}

.li-category{
    cursor: pointer;
}


/*Mobile*/
@media (max-width:500px){
    .show-dropdow-button div{
        display: none;
    }
    .search-form-container{
        width: 60%;
    }
    .search-input{
        font-size:12px;
    }
    
}

/*Tablet*/
@media (min-width: 500px) and (max-width:800px){
    .search-form-container{
        width: 60%;
    }
    .search-input{
        font-size:15px;
    }
}





