.Category{
    resize:horizontal;
    background-color:white;
    border-radius: 10px;
    border:1px solid gray;
    display: inline-block;
    text-align: center;
    margin-left:1rem;
    padding:0.5rem 0.5rem 0.5rem;
    min-width: 100px;
    scroll-snap-align: center;
}
.Category:hover{
    background-color:azure;
    box-shadow: 3px 3px 3px 3px aliceblue;
    cursor: pointer;
}

