.ProductCard{
    margin:1rem 1rem 0rem 1rem;
    display:inline-block;
    width: 252px;
    height: 265px;
    background: white;
    border-radius: 30px;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
    transition: 0.2s ease-in-out;
    
}
.ProductCard:hover{
    box-shadow:1px 1px 0px 0px gray;
    cursor: pointer;
}
.img-container {
    width: 100%;
    height: 60%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    align-items: top;
    justify-content: center;
  }
  
.img-container img{
    width: 100%;
    transition: 0.2s ease-in-out;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
  }

.add-to-cart-button{
    width:100%;
    height: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgba(68, 68, 66, 0.095);
}

.add-to-cart-button img:hover{
    width: 30px;
    cursor: pointer;
}

.body{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
}
