@font-face{
    font-family:"Raleway";
    src: url("../../fonts/Raleway-VariableFont_wght.woff2") format("woff2");
}
.ProductCard{
    margin:1rem 1rem 0rem 1rem;
    width: 252px;
    height: 350px;   
    cursor: pointer;
}

.img-container {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: top;
    justify-content: center;
    background: rgb(243 241 241);
  }
  
.img-container img{
    width: 100%;
    height: 100%;
    transition: 0.2s ease-in-out;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    mix-blend-mode: multiply;
    background-blend-mode: multiply;
  }

.add-to-cart-button{
    width:100%;
    height: 40px;
    color:white;
    text-align: center;
    padding-top: 6px;
    background-color: rgba(13, 13, 14, 0.411);
    cursor: pointer;
}

.name-and-price-container{
    width: 100%;
    background-color: transparent;
}

.product-card-name{
    text-align: start;
    margin-bottom: 0;
    font-family: "Raleway";
}

.price{
    font-size: 18px;
    text-align: start;
}

.score-and-opinions-container{
    display:flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom:340px;
    padding-left:10px;
    padding-top: 5px;
}

