.Home {
    min-height:100vh;
    padding-top:100px;
}

.promociones-container{
    display: flex;
    padding: 15px;
    gap:15px
}

.sub-bar{
    background-color: rgb(183,204,207);
    height: 30px;
}

/*Mobile*/
@media (max-width: 500px) {
    .promociones-container{
        flex-direction: column;
    }
}
/*Tablet*/
@media (min-width: 500px) and (max-width:800px){
    .promociones-container{
        flex-direction: column;
    }
}
/*Desktop*/
@media (min-width: 800px) {
    .promociones-container{
        flex-direction: row;
    }
}
