.ProductsContainer{
    width:100%;
    margin-left:0.2rem;  
    padding-bottom: 3rem;
    min-height:100vh;
    transition:all 1s;
}

.next-page-button-container{
    text-align:center;
}

.next-page-button-container button{
    border-radius:7px;
    margin-left:5px;
}

.NotFoundMessage{
    width:100%;
    text-align:center;
    margin-top: 100px;
}
.next-page-button{
    margin-bottom: 2rem;
}
.button-scroll-top{
    position:fixed;
    bottom:2rem;
    right:2rem;
}

