.ul-items-cart{
    padding-left: 0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.cart-product-row-container{
    display:flex;
    flex-direction: row;
}
.cart-product-row{
    border: 1px solid;
    border-radius:10px;
    width: 100%;
    resize: horizontal;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap:10px;
}
.name-container{
    width: 60%;
    text-align: start;
    padding-left: 0;
}
.name-container p{
    text-align: start;
    padding-left: 0;
}
.cantidad-container{
    display: flex;
    flex-direction:row;
    justify-content: center;
}
.addButton{
    background-color: transparent;
    margin-left: 2.5px;
    border: 0;
    cursor:pointer;
    font-size: 20px;
}
.restButton{
    background-color: transparent;
    margin-right: 2.5px;
    border: 0;
    cursor: pointer;
    font-size: 20px;
}

.sub-total{
    border-left: 3px solid;
    padding-left: 5px;
    padding-top: 3px;
    width: auto;
}

.trash-can{
    cursor: pointer;
    margin-top: 8px;
}

.total{
    margin-top:10px;
    text-align: end;
    padding-right: 10px;
}

.buttons-pay-and-clean-cart-container{
    margin-top: 10px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.btn-pay{
    background-color:rgb(65, 144, 149);
    color:#fff;
    border-radius: 15px!important;
}
.btn-clean-cart{
    background-color:#f88787;
    color:#fff;
    border-radius: 15px!important;
}

@media (max-width: 500px){
    .name-container{
        width: 35%;
    }
}