.addButton{
    margin-left: 2.5px;
}

.restButton{
    margin-right: 2.5px;
    width: 36px;
}

.Total{
    text-align:center;
}

.td-cantidad{
    display: flex;
    flex-direction:column;
}
.CantidadContainer{
    text-align:center;
    resize: horizontal;
}
.buttons-add-rest-container{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
.tableFooter{
    text-align:center;
}