.new-navbar{
    position:fixed;
    top: 1px;
    width: 100vw;
    height: 50px;
    background-color: #fff;
    z-index: 100;
    border-bottom: 1px solid;
}

.new-navbar > div{
    display: inline-block;
    width: 20%;
    height: 100%;
    text-align: center;
    padding-top: 10px;
}

.new-navbar > div:hover{
    background-color: aliceblue;
    cursor: pointer;
}




