@media (max-width:800px){
    .sub-bar{
        background-color: rgb(65, 144, 149);
        height: 50px;
    }
}
@media (min-width:800px){
    .sub-bar{
        background-color: rgb(65, 144, 149);
        height: 100px;
    }
}