.NavBar{
    background-color:gray;
    height:50px;
}
.ul{
    width:20%;
    display:inline-block;
    margin-left: 20rem;
   
}
a{
    display: inline-block;
    height:50px;
    margin-right: 0.5rem;
}
.Logo{
    display:inline-block;
    width:15%;
    margin-left:1rem;
    margin-top:0.5rem;
}
