.point-active{
    border:1px solid;
    border-radius:100%;
    width: 8px;
    height: 8px;
    background-color:rgb(65, 144, 149);
}

.point-not-active{
    border:1px solid;
    border-radius:100%;
    width: 8px;
    height: 8px;
    cursor: pointer;
}