.products-recomended{
    background-color: #fff;
    width: 90vw;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.no-products-recommended{
    border-radius: 1rem;
    background-color:white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 252px;
    height: 265px;
}
.ProductsRecomendedContainer{
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    white-space:nowrap;
    width: 90%;
    margin:0 auto;
    padding-bottom: 10px;
}   
.ProductsRecomendedContainer::-webkit-scrollbar{
    display: none;
}

/*buttons to navigate and see the recommended products*/
.btn-to-navigate{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border:0 solid;
    background-color: rgb(65, 144, 149);
    cursor: pointer;
}
.btn-to-navigate:active{
    border:0 solid;
}
.button-go-left{
    position: absolute;
    left: 70px;
}

.button-go-right{
    position: absolute;
    right:50px;
}

/*Mobile*/
@media (max-width: 500px){
    .ProductsRecomendedContainer{
        width: 100%;
    }
    .recomended-products-title p{
        width:250px;
        position: relative;
        bottom: 12px;
        font-size: 20px;
    }
    .btn-to-navigate{
        display: none;
    }
}

/*Tablet*/
@media (min-width: 500px) and (max-width:800px){
    .btn-to-navigate{
        display: none;
    }
}


