.chat-body{
    min-width: 100vw;
    max-height: 100vh;
}

.chat-history{
    margin:0 auto;
    background-color:transparent;
    width: 100%;
    text-align: center;
    white-space:nowrap;
    height: 60px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
} 

.tus-mensajes-apareceran-aqui{
    border:1px solid;
    border-radius: 3px;
    text-align: center;
    margin-top: 30vh;
    width:90%
}