
.empty-cart-message{
    width: 90%;
    margin:0 auto;
    text-align: center;
    position: relative;
    top:40%;
    background-color: rgb(114, 190, 185);
    border-radius: 5px;
}

.purchase-summary-products-list{
    width: 100%;
    padding-top: 10px;
    padding-left: 0;
    max-height: 50vh;
    overflow-y: auto;
}

.purchase-summary-products-list li{
    width: 97%;
    margin-top: 10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.purchase-summary-products-list div{
    text-align: start;
    width: 30%;
}

.purchase-summary-cantidad{
    width: 50px !important;;
}

.purchase-summary-separator{
    height: 2px;
    width: 95%;
    margin:0 auto;
    background-color: rgb(173, 172, 172);
}

.purchase-summary-total-container{
    width: 95%;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
}

.btn-quit-product-of-order{
    background-color:rgb(235, 234, 234);
}