.FormContainer{
    width: 20rem;
    margin-top: 7rem;
    border-radius:1rem;
}

.FormButton{
    margin-top:1rem;
    width:100%;
}
.SignUpTitle{
   text-align:center
}
.Input{
    width:100%;
}
.Fet{
    margin-top: 1rem;
    border-radius:1rem;
    padding:0.5rem 0.5rem 0 0.5rem;
    font-size:1rem
}
.SignInLink{
    float:right;
    position:relative;
    top:0.1rem;
    right:0.5rem;
}
span{
    position:relative;
    top:0.2rem
}
