.FormContainer{
    width: 20rem;
    margin-top: 13rem;
    border-radius:1rem;
}

.FormButton{
    margin-top:1rem;
    width:100%;
}
.SignTitle{
    position: relative;
    bottom: 3.5rem;
    left:2.3rem;
}
.Input{
    width:100%;
}
.ForgotPasswordMessage{
    float:right;
    font-size:0.8rem;
    margin-top:0.2rem;
}
.LoginFet{
    position:relative;
    top:6rem;
    right:2rem;
    width: 20rem;
    border-radius:1rem;
    padding:0.5rem 0.5rem 0 0.5rem;
    font-size:1rem
}
.SignUpLink{
    position: relative;
    top:0.2rem;
    right: 0.5rem;
    float:right;
}
span{
    position:relative;
    top:0.2rem
}
