.App {
  background-image: url('../public/background-img.jpeg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  background-attachment: fixed;
  background-color:gray;
  min-height:100vh;
}
.ProductsContainer{
  background-color:transparent;
  
}
